@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Raleway font*/
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Header */
.page-header .container {
  background: linear-gradient(0deg, #FFE17F 94%,
      rgba(255, 255, 255, 1) 94%);
  padding: 0 60px 0 60px;
}

.logo-link {
  position: relative;
  display: block;
  object-fit: contain;
  width: 145px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus {
  outline: none;
}

.logo-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.logo-link:active {
  opacity: 0.3;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  margin-right: 26px;
}

.field-search {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #FFE17F;
  padding: 10px 2px 10px 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  min-width: 359px;
  background-color: transparent;
  background-image: url(../images/icon-navigation/icon-magnifier.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 12px center;
  margin-right: -2px;
}

.field-search:focus {
  outline: none;
}

.field-search:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 1px;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #FFE17F;
  padding: 10px 56px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
}

.search-button:hover {
  background: #000000;
  color: #ffffff;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:focus {
  outline: none;
}

.search-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 1px;
}

.user-link {
  text-decoration: none;
  color: #000000;
}

.login-link-enter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-link-enter::before {
  content: "";
  display: block;
  width: 15px;
  height: 12px;
  margin-right: 12px;
  background-image: url(../images/icon-navigation/icon-login.svg);
  background-repeat: no-repeat;
}

.comparison-link-catalog {
  margin-right: 36px;
}

.login-link-enter:hover,
.comparison-link:hover,
.basket-link:hover {
  opacity: 0.6;
}

.login-link-enter:active,
.comparison-link:active,
.basket-link:active {
  opacity: 0.3;
}


.login-link-enter:focus,
.comparison-link:focus,
.basket-link:focus {
  outline: none;
}

.login-link-enter:focus-visible,
.comparison-link:focus-visible,
.basket-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.comparison-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comparison-item {
  margin-left: auto;
  margin-right: 36px;
}

.comparison-link::before {
  content: "";
  display: block;
  width: 10px;
  height: 12px;
  margin-right: 12px;
  background-image: url(../images/icon-navigation/icon-comparison.svg);
  background-repeat: no-repeat;
}

.basket-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-link::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  margin-right: 12px;
  background-image: url(../images/icon-navigation/icon-basket.svg);
  background-repeat: no-repeat;
}

.user-interface-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-interface-item:last-child {
  margin: 0;
  position: relative;
}

.goods-amount {
  z-index: 1;
  position: absolute;
  font-size: 14px;
  line-height: 17px;
  width: 21px;
  height: 21px;
  top: 4px;
  right: 97px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
}

.catalog-navigation-items {
  list-style: none;
  text-decoration: none;
  margin: 0 60px 0 60px;
  padding: 0;
}

.navigation-catalog-services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.catalog-navigation-items :last-child {
  margin-right: 0;
}

.submenu-container {
  display: flex;
  padding: 0 0 60px 0;
  visibility: hidden;
  width: 100%;
  background: #FFE17F;
  margin-left: -60px;
  min-width: 1160px;
  position: relative;
  z-index: 1;
}

.submenu-container-open {
  visibility: visible;
}

.submenu-container .catalog-navigation-items:nth-child(n+2) {
  margin-left: 0;
}

.submenu-container:focus-within .catalog-navigation-items {
  display: block;
}

.shop-services-link,
.catalog-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.shop-services {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 471px;
  width: 100%;

}

.shop-services-link:hover,
.navigation-link:hover {
  opacity: 0.6;
}

.shop-services-link:active,
.navigation-link:active {
  opacity: 0.3;
}

.shop-services-link:focus,
.navigation-link:focus {
  outline: none;
}

.shop-services-link:focus-visible,
.navigation-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.navigation-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.catalog-link {
  display: block;
  position: relative;
  margin: 0;
  align-self: center;
}

.catalog-link::after {
  content: "";
  position: absolute;
  margin-left: 7px;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50px;
  background-image: url(../images/icon-navigation/plus.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.3;
}

.catalog-link:hover::after {
  opacity: 1;
}

.catalog-link:active::after {
  background-image: url(../images/icon-navigation/minus.svg);
}

.catalog-link:focus {
  outline: none;
}

.catalog-link:focus-within,
.catalog-link:focus-within::after {
  outline: 2px solid #af4fff;
}

/*Активный пункт навигации*/

.shop-services-link-current,
.navigation-link-current {
  position: relative;
}

.shop-services-link-current::before {
  position: absolute;
  height: 2px;
  bottom: 0;
  left: -2px;
  right: -2px;
  background-color: #000000;
  content: "";
}

.navigation-link-current::before {
  position: absolute;
  height: 2px;
  bottom: 0;
  left: -2px;
  right: -2px;
  background-color: #000000;
  content: "";
}

/*Popover Basket*/

.popover {
  visibility: hidden;
  position: absolute;
  top: 32px;
  right: -77px;
  z-index: 2;
  box-sizing: border-box;
  width: 320px;
  min-height: 86px;
  background: #000000;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0 20px 20px 20px;
}

.popover-open {
  visibility: visible;
}

.popover::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 160px;
  width: 14px;
  height: 7px;
  background-image: url(../images/decor/arrow-popover.svg);
  background-repeat: no-repeat;
}

.user-interface-item {
  position: relative;
}

.popover-content {
  height: 100%;
}

.popover-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.container-goods-basket {
  display: flex;
  position: relative;
}

.popover-list-items {
  position: relative;
  display: flex;
  padding: 20px 0;
}

.popover-list {
  display: flex;
  padding: 20px 0;
}

.popover-list-items:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.popover-image {
  display: block;
  margin-right: 23px;
}

.popover-link {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
}

.popover-link:focus {
  outline: none;
}

.popover-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.close-button {
  content: "";
  position: absolute;
  top: 20px;
  right: -4px;
  width: 10px;
  height: 10px;
  border: none;
  background-image: url(/images/popover-items/close-button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
}

.close-button-second {
  content: "";
  position: absolute;
  top: 20px;
  right: -4px;
  width: 10px;
  height: 10px;
  border: none;
  background-image: url(/images/popover-items/close-button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
}

.total-goods {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.container-goods {
  background: #1A1A1A;
  box-sizing: border-box;
  width: 320px;
  display: flex;
  margin-left: -20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.button-popover {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  width: 280px;
  background: #FFFFFF;
  border: none;
  text-transform: uppercase;
  padding: 15px 11px;
}

.button-popover:hover {
  background-color: #FFE17F;
}

.button-popover:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-popover:focus {
  outline: none;
}

.button-popover:focus-visible {
  background-color: #FFFFFF;
  outline: 2px solid #AF4FFF;
}

.container-goods-basket:hover {
  opacity: 0.6;
}

.container-goods-basket:active {
  opacity: 0.3;
}

.container-goods-basket:focus {
  outline: none;
}

.container-goods-basket:focus-visible {
  outline: 2px solid #AF4FFF;
}

.close-button:hover,
.close-button-second:hover {
  opacity: 0.6;
}

.close-button:active,
.close-button-second:active {
  opacity: 0.3;
}

.close-button:focus,
.close-button-second:focus {
  outline: none;
}

.close-button:focus-visible,
.close-button-second:focus-visible {
  outline: 2px solid #AF4FFF;
}


/* Main */
/* Sliders */

.sliders {
  margin-bottom: 70px;
}

.sliders-list {
  list-style: none;
  padding: 0;
  margin: 0 0 26px 0;
  width: 100%;
}

.sliders-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  z-index: -2;
  margin: 0 0 29px 0;
}

.slider-image {
  margin-right: 52px;
}

.sliders-item {
  display: flex;
  position: relative;
  z-index: 0;
  margin-top: -98px;
}

.sliders-item:nth-child(n+2) {
  display: none;
}

.slider-content-description {
  display: flex;
  flex-direction: column;
  padding: 167px 0 0 0;

}

.sliders-info-items {
  display: flex;
  flex-wrap: wrap;
}

.sliders-details-list {
  margin: 0;
  padding-right: 20px;
}

.sliders-details-corrected {
  margin: 0;
  padding-right: 40px;
}

.slider-number {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  display: block;
  position: absolute;
  width: 250px;
  height: 135px;
  top: 121px;
  right: 10px;
  z-index: -3;
}

.sliders-text {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0 0 50px 0;
}

.sliders-button {
  margin: 0 0 50px 0;
}

.button {
  position: relative;
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 2px solid transparent;
  text-align: center;
  width: 220px;
  height: 40px;
  z-index: 0;
  padding: 8px 5px;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 8px;
  background-color: #FFE17F;
  background-position: center;
}

.button:hover::before {
  width: 220px;
  height: 40px;
  background-color: #FFE17F;
}

.button:active::before {
  width: 220px;
  height: 40px;
  background-color: #FFCC33;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 3px solid #AF4FFF;
}

.button:disabled {
  opacity: 0.3;
}

.button:disabled:hover {
  opacity: 0.3;
  outline: none;
  cursor: default;
}

.sliders-details {
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
}

.sliders-details-description {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.products-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  padding: 0;
  margin: 0 0 70px 0;
}

.sliders-indicators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sliders-indicators-list {
  margin-right: 20px;
}

.sliders-indicators-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.sliders-indicators-button:hover {
  opacity: 0.6;
}

.sliders-indicators-button:active {
  opacity: 0.3;
}

.sliders-indicators-button:focus {
  outline: none;
}

.sliders-indicators-button:focus-visible {
  outline: 2px solid #AF4FFF;
}


.sliders-button-current {
  background-color: #000000;
}

.products-item {
  display: flex;
  flex-direction: column;
}

.products-item:hover .product-card {
  background-color: #FFC700;
}

.products-item:active {
  opacity: 0.3;
}

.products-link:focus {
  outline: none;
}

.products-item:focus-within {
  outline: 2px solid #AF4FFF;
}

.product-card {
  background-color: #FFE17F;
  height: 160px;
  justify-content: center;
  margin-bottom: 32px;
}

.virtual-reality {
  display: block;
  background-image: url(../images/catalog-navigation/virtual-reality.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-item .monopod {
  display: block;
  background-image: url(../images/catalog-navigation/monopod.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.products-item .action-camera {
  display: block;
  background-image: url(../images/catalog-navigation/action-camera.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-item .fitness-bracelet {
  display: block;
  background-image: url(../images/catalog-navigation/fitness-bracelet.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-item .smart-watch {
  display: block;
  background-image: url(../images/catalog-navigation/smart-watch.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-item .quadcopter {
  display: block;
  background-image: url(../images/catalog-navigation/quadcopter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.slider-button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 153px;
  width: 560px;
  padding-left: 30px;
}

.slider-navigation {
  display: block;
  border: none;
  width: 20px;
  height: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slider-back {
  display: block;
  background-image: url(../images/slider-items/icon-slider-back.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.slider-next {
  display: block;
  background-image: url(../images/slider-items/icon-slider-next.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.slider-navigation:hover {
  opacity: 0.6;
}

.slider-navigation:active {
  opacity: 0.3;
}

.slider-navigation:focus {
  outline: none;
}

.slider-navigation:focus-visible {
  outline: 2px solid #AF4FFF;
}

.slider-navigation:disabled {
  opacity: 0.1;
}

/* Section services */

.services {
  margin: 0 0 70px 0;
  background: linear-gradient(0deg, rgba(240, 240, 240, 1) 74%, rgba(255, 255, 255, 1) 7%);
}

.services-list {
  list-style: none;
  margin: 0 116px 0 0;
  padding: 64px 0 0 0;
  z-index: 0;
  flex-shrink: 0;
}

.services-item {
  position: relative;
  display: block;
}

.services-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;

}

.services-item-current:hover {
  display: block;
  transform: translateX(20%);
}

.services-item-name {
  margin-left: 21px;
}

.services-link::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 8px;
  width: 160px;
  background-color: #FFE17F;
}

.services-item-rectangle::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  right: -7px;
  top: -140px;
  background-color: #000000;
}

.services-link-current {
  position: relative;
  color: #FFE17F;
  background-color: #000000;
  padding: 9px 120px 11px 18px;
  margin: 0;
}

.services-link-current:focus {
  outline: none;
}

.services-link-current:focus-visible {
  outline: 2px solid #AF4FFF;
}

.services-item:not(:last-child) {
  margin-bottom: 35px;
}


.services-container {
  display: flex;
  background: linear-gradient(0deg, rgba(240, 240, 240, 1) 74%, rgba(255, 255, 255, 1) 7%);
}

.info {
  list-style: none;
  margin: 0;
  padding: 73px 0 0 0;
  width: 100%;
}

.info-list:nth-child(n+2) {
  display: none;
}

.info-list {
  position: relative;
  display: flex;
  flex-direction: column;
}

.delivery-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 34px 0;
}

.info-list-delivery::after {
  content: "";
  position: absolute;
  background-image: url(../images/decor/decor-mail.svg);
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  left: 558px;
}

.info-list-guaranty::after {
  content: "";
  position: absolute;
  background-image: url(../images/decor/service-icon.svg);
  background-repeat: no-repeat;
  width: 171px;
  height: 195px;
  left: 558px;
}

.info-list-credit::after {
  content: "";
  position: absolute;
  background-image: url(../images/decor/credit-icon.svg);
  background-repeat: no-repeat;
  width: 156px;
  height: 188px;
  left: 558px;
}

.info-text {
  color: #444444;
  margin: 0 0 145px 0;
}

.delivery-order .container {
  background: #F0F0F0;
}

.delivery-order {
  margin: 0 0 70px 0;
}

.delivery-order-text {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.delivery-order-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 120px;
  height: 100%;
  background-image: url(../images/decor/decor-car.svg);
  background-repeat: no-repeat;
  background-size: 47px 31px;
  left: 0;
  top: 0;
  background-color: #FFE17F;
  background-position: center;
}

.delivery-order-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 42px;
  top: 30px;
  background-image: url(../images/decor/info.svg);
  background-repeat: no-repeat;
  background-size: 2px 12px;
  background-position: center;
  background-color: #DCDCDC;
  border-radius: 50%;
  opacity: 0.1;
}

.delivery-order-text:hover::before {
  background-color: #FFC700;
}

.delivery-order-text:hover::after {
  color: #000000;
  opacity: 0.6;
}

.delivery-order-text:active {
  opacity: 0.3;
}

.delivery-order-text:focus {
  outline: none;
}

.delivery-order-text:focus-visible {
  outline: 2px solid #AF4FFF;
}

.delivery-list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.contacts-information {
  color: #444444;
}

.title {
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}


.title.about-us-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: #000000;
  top: -47px;
  left: 0;
}

.about-us-title {
  margin: 47px 0 48px 0;
}

.contacts-delivery-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 108px;
  margin-bottom: 70px;
}

.about-us-text,
.contacts-text {
  color: #444444;
  margin: 0 0 30px 0;
}

.delivery-list-item {
  margin-bottom: 18px;
}

.delivery-list:last-child {
  margin-bottom: 30px;
}

.delivery-list-item::marker {
  width: 8px;
  height: 8px;
  color: #FFC700;
}

.button-about-us {
  width: 270px;
  position: relative;
  display: block;
}

.button-about-us:hover::before {
  width: 270px;
  min-height: 40px;
  background-color: #FFE17F;
}

.button-about-us:active::before {
  width: 270px;
  min-height: 40px;
  background-color: #FFCC33;
}

.button-about-us:focus {
  width: 270px;
  min-height: 40px;
  outline: none;
}

.button-about-us:focus-visible {
  outline: 3px solid #af4fff;
}

.contact-address {
  margin: 0;
}

.button-write-us {
  width: 260px;
  position: relative;
  display: block;
}

.button-write-us:hover::before {
  width: 260px;
  min-height: 40px;
  background-color: #FFE17F;
}

.button-write-us:active::before {
  width: 260px;
  min-height: 40px;
  background-color: #FFCC33;
}

.button-write-us:focus {
  width: 260px;
  min-height: 40px;
  outline: none;
}

.button-write-us:focus-visible {
  outline: 3px solid #af4fff;
}


.name-shop,
.operating-time {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 0 0 15px 0;
}

.operating-time-description {
  margin: 0 0 30px 0;
}

.contacts-phone {
  display: inline-block;
  color: #444444;
  text-decoration-line: underline;
  margin: 0 0 30px 0;
}

/* Section newsletter */

.newsletter {
  background: #F0F0F0;
  padding: 64px 0 56px 0;
}

.newsletter-text {
  color: #444444;
  margin: 0;
}

.newsletter-form {
  display: flex;
  width: 100%;
}


.newsletter-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 144px;
}

.newsletter-form-wrapper {
  display: flex;
}


.newsletter-label {
  width: 100%;
  max-width: 557px;
  color: #444444;
  background-color: #F0F0F0;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  font-size: 18px;
  line-height: 30px;
  padding: 12px 16px;
}

.newsletter-label:focus {
  background-color: #dcdcdc;
  outline: none;
}

.button-newsletter {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  padding: 18px 39px;
  border: 3px solid #C4C4C4;
}

.button-newsletter:hover {
  background: #000000;
  color: #FFFFFF;
  border: 3px solid #000000;
}

.button-newsletter:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-newsletter:focus {
  outline: none;
}

.button-newsletter:focus-visible {
  outline: 2px solid #AF4FFF;
}

.button-newsletter:disabled {
  opacity: 0.3;
}

.newsletter-tick {
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 160px;
  margin: 0;
}

.newsletter-tick::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/decor/tick-big.svg);
  background-repeat: no-repeat;
  margin-right: 16px;
}

/* Footer */
.footer-information {
  background: #444444;
  padding: 62px 0;
}

.footer-logo {
  display: block;
  position: relative;
  object-fit: contain;
  width: 145px;
  margin-bottom: 35px;
  outline: 2px solid transparent;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus {
  outline: none;
}

.footer-logo:focus-visible {
  outline: 2px solid #AF4FFF;
}

.footer-adress {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
}


.footer-phone-container {
  display: flex;
  align-items: center;
}

.footer-adress-tel {
  text-decoration-line: underline;
}

.footer-adress-tel:hover {
  color: #FFC700;
}

.footer-adress-tel:active {
  opacity: 0.3;
}

.footer-adress-tel:focus {
  outline: none;
}

.footer-adress-tel:focus-visible {
  outline: 2px solid #AF4FFF;
}

.footer-shop-services {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 550px;
}

.footer-shop-services-list {
  margin-right: 35px;
}

.footer-shop-services-list:last-child {
  margin-right: 0;
}

.footer-information-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
}

.rectangle {
  height: 7px;
  width: 80px;
  background: #FFC700;
  align-self: center;
}

.footer-shop-services-link {
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-shop-services-link:hover {
  color: #FFC700;
}

.footer-shop-services-link:hover::before {
  position: absolute;
  height: 2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: #FFC700;
  content: "";
}

.footer-shop-services-link:active {
  opacity: 0.3;
}

.footer-shop-services-link:focus {
  outline: none;
}

.footer-shop-services-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list-item {
  margin-right: 15px;
}

.social-list-item:last-child {
  margin: 0;
}

.social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social-item-link:hover {
  background: #FFC700;
}

.social-item-link:active svg {
  fill-opacity: 0.3;
}

.social-item-link:focus {
  outline: none;
}

.social-item-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.copyright {
  display: flex;
}

.htmlacademy-link:hover path {
  fill: #ffffff;
}

.htmlacademy-link:active path {
  fill: #ffffff;
  opacity: 0.3;
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

/* Catalog*/
/* User-navigation*/

.user-interface-list-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 500px;

}

.field-catalog::placeholder {
  color: #000000;
}

.login-user-link::before {
  content: "";
  display: block;
  width: 15px;
  height: 12px;
  margin-right: 13px;
  background-image: url(../images/icon-navigation/icon-login.svg);
  background-repeat: no-repeat;
}

.login-user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 28px;
}

.navigation-user-link {
  color: #000000;
  text-decoration: none;
}

.user-link-exit {
  color: #000000;
  opacity: 0.3;
  margin-right: 26px;
}

/* Breadcrumbs */
.breadcrumbs .container {
  padding: 0 60px;
  width: 1040px;
}

.breadcrumbs-wrapper {
  padding: 35px 0 35px 60px;
}

.breadcrumbs-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url(../images/catalog/decor-catalog/icon-breadcrumbs.svg);
  transform: translateY(-50%);
  top: 50%;
  right: -20px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item:last-child {
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
}

.catalog-filters {
  background: #F0F0F0;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
}

.filter-item-name {
  position: relative;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
  padding: 0 0 20px 0;
}

.filter-item-name::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 2px solid #000000;
  top: -12px;
  width: 200px;
}

.filters {
  border: none;
  padding: 0;
  margin: 0 0 35px 0;
}

.filter-list {
  list-style: none;
  padding: 0;
}

.catalog-filter-sort {
  min-width: 65px;
}

.filter-sort {
  border: none;
  padding: 0;
}

.filter-sort-up {
  margin-right: 10px;
}

.filter-sort-down svg {
  rotate: 180deg;
}

.filter-sort-up:hover path,
.filter-sort-down:hover path {
  fill: #808080;
}

.filter-sort-up:active path,
.filter-sort-down:active path {
  fill: #000000;
}

.filter-sort-up:focus,
.filter-sort-down:focus {
  outline: 2px solid #AF4FFF;
  border: none;
}

.filter-title,
.catalog-filters-label {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-select {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background: #F0F0F0;
  cursor: pointer;
}

.catalog-select:focus {
  outline: none;
}

.catalog-select:focus-visible {
  outline: 2px solid #AF4FFF;
}

/* Goods */

.wrapper-background {
  background: #F0F0F0;
}

.catalog {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0 0 44px 0;
  grid-template-columns: 360px 360px;
  gap: 40px;
}

.catalog-right-column {
  width: 100%;
}

.product-link-item {
  display: flex;
  flex-direction: column;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-link-item:focus {
  outline: none;
}

.goods-title-price {
  display: flex;
  margin-top: 32px;
}

.title-goods {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
}

.good-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
}

.goods-price {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  margin-left: auto;
}

.product-list {
  background: white;
  padding: 70px 40px 78px 40px;
}

.goods-card-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #E5E5E5;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  margin: 0 0 44px 0;
  width: 100%;
}

.catalog-item {
  position: relative;
}

.button-card-product {
  position: relative;
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 2px solid transparent;
  text-align: center;
  width: 220px;
  height: 40px;
  z-index: 0;
  padding: 8px 5px;
}

.popup-cart-product {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  width: 360px;
  height: 380px;
  background: rgba(229, 229, 229, 0.7);
}

.button-card-product::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
}

.button-card-product:active::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #FFC700;
}

.button-card-product:focus {
  outline: 2px solid #AF4FFF;
}

.catalog-item:hover .popup-cart-product {
  visibility: visible;
}

.catalog-item:hover .goods-title-price {
  opacity: 0.6;
}

.catalog-item:active .goods-title-price {
  opacity: 0.3;
}

.catalog-item:focus-within {
  outline: 2px solid #AF4FFF;
}


.goods-card-button:hover {
  border: 3px solid #000000;
}

.goods-card-button:active {
  opacity: 0.3;
}

.goods-card-button:focus {
  outline: none;
}

.goods-card-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.goods-card-button:disabled {
  opacity: 0.3;
  border: 3px solid #E5E5E5;
}

.filters-catalog-goods {
  background: #F0F0F0;
  padding-left: 60px;
  flex-shrink: 0;
}

.filter-title {
  padding: 25px 181px 25px 0;
  margin: 0 0 60px 0;
}

.catalog-goods {
  display: flex;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  background: #EBEBEB;
}

.pagination-container-list {
  list-style: none;
  display: flex;
  align-items: center;
  background: #EBEBEB;
  padding: 0;
  margin: 0;
  max-width: 200px;
}

.pagination-back {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 25px;
}

.pagination-next {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 25px;
}

.pagination-next:hover {
  color: #000000;
  background-color: #DCDCDC;
}

.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-next:focus {
  outline: none;
}

.pagination-next:focus-visible {
  outline: 2px solid #AF4FFF;
}

.pagination-disabled {
  opacity: 0.3;
}

.pagination-link {
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
  outline: none;
}

.pagination-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.pagination-link-current {
  color: #444444;
  opacity: 0.6;
}

.pagination-container-item:not(:last-child) {
  margin-right: 15px;
}
