@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Raleway font*/
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Header */
.page-header .container {
  background: linear-gradient(0deg, #FFE17F 94%,
      rgba(255, 255, 255, 1) 94%);
  padding: 0 60px 0 60px;
}

.logo {
  display: block;
  object-fit: contain;
  width: 145px;
  margin-top: 20px;
  margin-bottom: 30px;

}

.navigation-user {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  margin-right: 27px;
}



.field-search {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #FFE17F;
  padding: 10px 0 10px 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  min-width: 359px;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #FFE17F;
  padding: 10px 56px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
}


.user-link {
  text-decoration: none;
  color: #000000;
}

.user-interface-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-interface-item {
  margin-right: 61px;
}

.user-interface-item:last-child {
  margin: 0;
  position: relative;
}

.user-interface-list :nth-of-type(2) {
  margin-left: auto;
}

.goods-amount {
  position: absolute;
  font-size: 14px;
  line-height: 17px;
  width: 21px;
  height: 21px;
  top: 4px;
  right: 85px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
}

.catalog-navigation-items {
  list-style: none;
  text-decoration: none;
  margin: 0 60px 0 60px;
  padding: 0;
}

.navigation-catalog-services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.catalog-navigation-items :last-child {
  margin-right: 0;
}

.submenu-container {
  display: flex;
  padding: 0 0 60px 0;
  visibility: hidden;
  width: 100%;
  background: #FFE17F;
  margin-left: -60px;
  min-width: 1160px;
  position: relative;
  z-index: 1;
}

.submenu-container .catalog-navigation-items:nth-child(n+2) {
  margin-left: 0;
}

.shop-services-link,
.catalog-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.shop-services {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 471px;
  width: 100%;

}

.navigation-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.catalog-link {
  margin: 0;
  align-self: center;
}

/* Main */
/* Sliders */

.sliders-list {
  list-style: none;
  padding: 0;
  margin: 0 0 70px 0;
  width: 100%;
}

.sliders-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  z-index: -2;
  margin: 0 0 29px 0;
}

.sliders-item {
  display: flex;
  position: relative;
  z-index: 0;
  margin-top: -98px;
}

.sliders-item:nth-child(n+2) {
  display: none;
}

.slider-image {
  margin-right: 40px;
}


.slider-content-description {
  display: flex;
  flex-direction: column;
  padding: 167px 0 0 0;

}

.sliders-info-items {
  display: flex;
  flex-wrap: wrap;
}

.sliders-details-list {
  margin: 0;
  padding-right: 20px;
}

.sliders-details-corrected {
  margin: 0;
  padding-right: 40px;
}

.slider-number {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  display: block;
  position: absolute;
  width: 250px;
  height: 135px;
  top: 121px;
  right: 10px;
  z-index: -3;
}

.sliders-text {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0 0 50px 0;
}

.sliders-button {
  margin: 0 0 50px 0;
  max-width: 220px;
}

.button {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 2px solid transparent;
  position: relative;
  z-index: 0;
  padding: 0;

}

.button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 8px;
  background-color: #FFE17F;
}


.sliders-details {
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
}

.sliders-details-description {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.products-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  padding: 0;
  margin: 0 0 70px 0;
}

.products-item {
  display: flex;
  flex-direction: column;

}

.product-card {
  display: flex;
  background-color: #FFE17F;
  height: 160px;
  justify-content: center;
  margin-bottom: 32px;
}

.virtual-reality {
  display: block;
  background-image: url(../images/catalog-navigation/virtual-reality.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-item .monopod {
  display: block;
  background-image: url(../images/catalog-navigation/monopod.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.products-item .action-camera {
  display: block;
  background-image: url(../images/catalog-navigation/action-camera.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-item .fitness-bracelet {
  display: block;
  background-image: url(../images/catalog-navigation/fitness-bracelet.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-item .smart-watch {
  display: block;
  background-image: url(../images/catalog-navigation/smart-watch.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-item .quadcopter {
  display: block;
  background-image: url(../images/catalog-navigation/quadcopter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

/* Section services */

.services {
  margin: 0 0 70px 0;
  background: linear-gradient(0deg, rgba(240, 240, 240, 1) 74%, rgba(255, 255, 255, 1) 7%);
}

.services-list {
  list-style: none;
  margin: 0 116px 0 0;
  padding: 64px 0 0 0;
  z-index: 0;
  flex-shrink: 0;
}

.services-item {
  position: relative;
  display: flex;
}

.services-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;

}

.services-link::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 8px;
  width: 160px;
  background-color: #FFE17F;
}

.services-link-current {
  color: #FFE17F;
  background-color: #000000;
  padding: 9px 120px 11px 18px;
}

.services-item:not(:last-child) {
  margin-bottom: 35px;
}

.services-item:nth-child(2) {
  padding-left: 20px;
}


.services-item:nth-child(3) {
  padding-left: 35px;
}

.services-container {
  display: flex;
}

.info {
  list-style: none;
  margin: 0;
  padding: 73px 0 0 0;
  width: 100%;
}

.info-list:nth-child(n+2) {
  display: none;
}

.delivery-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 34px 0;
}

.info-text {
  color: #444444;
  margin: 0 0 145px 0;
}

.delivery-order .container {
  background: #F0F0F0;
}

.delivery-order {
  margin: 0 0 70px 0;
}

.delivery-order-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.delivery-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.contacts-information {
  color: #444444;
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

.about-us-title {
  margin: 0 0 48px 0;
}

.contacts-delivery-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us-text,
.contacts-text {
  color: #444444;
  margin: 0 0 30px 0;
}

.delivery-list-item {
  margin-bottom: 18px;
}

.delivery-list-item:last-child {
  margin-bottom: 30px;
}

.button-about-us {
  display: inline-block;
  margin: 0 0 52px 0;
}

.contact-address {
  margin: 0;
}

.name-shop,
.operating-time {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin: 0 0 15px 0;
}

.operating-time-description {
  margin: 0 0 30px 0;
}

.contacts-phone {
  display: inline-block;
  color: #444444;
  text-decoration-line: underline;
  margin: 0 0 30px 0;
}

/* Section newsletter */

.newsletter {
  background: #F0F0F0;
  padding: 64px 0 56px 0;
}

.newsletter-text {
  color: #444444;
  margin: 0;
}

.newsletter-form {
  display: flex;
  width: 100%;
}


.newsletter-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 144px;
}

.newsletter-form-wrapper {
  display: flex;
}


.newsletter-label {
  width: 100%;
  max-width: 557px;
  color: #444444;
  background-color: #F0F0F0;
  border: none;
  border-bottom: 3px solid #C4C4C4;
}

.button-newsletter {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  padding: 18px 39px;
  border: 3px solid #C4C4C4;
}

.newsletter-tick {
  color: #444444;
  margin: 0;
  min-width: 128px;
  padding-top: 20px;
}


/* Footer */
.footer-information {
  background: #444444;
  padding: 62px 0;
}

.footer-logo {
  display: block;
  margin-bottom: 35px;
}

.footer-adress {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
}


.footer-phone-container {
  display: flex;
  align-items: center;
}

.footer-adress-tel {
  text-decoration-line: underline;
}

.footer-shop-services {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 550px;
}

.footer-shop-services-list {
  margin-right: 35px;
}

.footer-shop-services-list:last-child {
  margin-right: 0;
}

.footer-information-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
}

.rectangle {
  height: 7px;
  width: 80px;
  background: #FFC700;
  align-self: center;
}

.footer-shop-services-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list-item {
  margin-right: 15px;
}

.social-list-item:last-child {
  margin: 0;
}

.social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.copyright {
  display: flex;
}

/* Catalog*/
/* User-navigation*/

.user-interface-list-catalog {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.field-catalog::placeholder {
  color: #000000;
}

.navigation-user-link {
  color: #000000;
  text-decoration: none;
  min-width: 146px;
  display: block;
  text-align: end;
}

.user-link-exit {
  color: #000000;
  opacity: 0.3;
}

.user-interface-catalog {
  margin-right: 28px;
}


.catalog-user-link {
  display: block;
  min-width: 105px;
  text-align: end;
}

.interface-catalog-basket {
  display: block;
  min-width: 99px;
  text-align: end;
}

/* Breadcrumbs */
.breadcrumbs .container {
  padding: 0 60px;
  width: 1040px;
}

.breadcrumbs-wrapper {
  padding: 35px 0 35px 60px;
}

.breadcrumbs-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  margin-right: 36px;
}

.breadcrumbs-item:last-child {
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.catalog-filters {
  background: #F0F0F0;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
}

.filters {
  border: none;
  padding: 0;
  margin: 0 0 35px 0;
}

.filter-list {
  list-style: none;
  padding: 0;
}

.catalog-filter-sort {
  min-width: 65px;
}

.filter-sort {
  cursor: pointer;
}

.filter-sort-up {
  margin-right: 10px;
  opacity: 0.25;

}

.filter-sort-down svg {
  rotate: 180deg;
  opacity: 0.25;
}

.filter-title,
.catalog-filters-label {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-select {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background: #F0F0F0;
}

.button-filter-catalog {
  max-width: 210px;
}

/* Goods */

.wrapper-background {
  background: #F0F0F0;
}

.catalog {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0 0 44px 0;
  grid-template-columns: 360px 360px;
  gap: 40px;
}

.catalog-right-column {
  width: 100%;
}

.product-link-item {
  display: flex;
  margin-bottom: 32px;
}

.goods-title-price {
  display: flex;
}

.title-goods {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
}

.good-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
}

.goods-price {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  margin-left: auto;
}

.product-list {
  background: white;
  padding: 70px 40px 78px 40px;
}

.goods-card-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #E5E5E5;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  margin: 0 0 44px 0;
  width: 100%;
}

.filters-catalog-goods {
  background: #F0F0F0;
  padding-left: 60px;
  flex-shrink: 0;
}

.filter-title {
  padding: 25px 181px 25px 0;
  margin: 0 0 60px 0;
}

.catalog-goods {
  display: flex;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  background: #EBEBEB;
}

.pagination-container-list {
  list-style: none;
  display: flex;
  align-items: center;
  background: #EBEBEB;
  padding: 0;
  margin: 0;
  max-width: 200px;
}

.pagination-back {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #444444;
  opacity: 0.3;
  display: flex;
  align-items: center;
  padding: 25px;
}

.pagination-next {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 25px;
}

.pagination-link {
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-link-current {
  color: #444444;
  opacity: 0.6;
}

.pagination-container-item:not(:last-child) {
  margin-right: 15px;
}
